.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainPage {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.nav {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
}
.nav * {
  padding: 2% 0;
  border: none;
  color: coral;
  background-color: white;
  font-size: larger;
  height: fit-content;
}
.nav *:hover {
  color: coral;
}
.nav input:focus {
  outline: none;
}
.nav input::placeholder {
  color: rgb(255, 193, 170);
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 85%;
  height: 100%;
}
.image {
  width: 20%;
  margin: 2.5%;
  height: fit-content;
}
.image:hover {
  width: 25%;
  margin: 0;
}
.hidden {
  color: white;
}